@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-brandNavy: #131C2D;
  --color-brandOrange: #FF7A00;
  --color-brandOrangeLight: #FFA64D;
  --font-serifDisplay: "DM Serif Display", serif;
  --font-inter: "Inter", system-ui, sans-serif;
}
.btn-primary {
  background-color: var(--color-brandOrange) !important;
  border-color: var(--color-brandOrange) !important;
}
.btn-primary:hover {
  background-color: var(--color-brandOrangeLight) !important;
  border-color: var(--color-brandOrangeLight) !important;
}
.btn-secondary {
  background-color: var(--color-brandNavy) !important;
  border-color: var(--color-brandNavy) !important;
  color: white !important
}
.btn-secondary:hover {
  background-color: #0f1624 !important;
  border-color: #0f1624 !important;
}
body {background: var(--color-brandNavy); }

@layer utilities {
  .font-brand-serif {font-family: var(--font-serifDisplay); }
  .font-brand-sans {font-family: var(--font-inter); }
}
@layer components {
  .card {
    @apply rounded-2xl shadow p-4 sm:p-6 transition;
    @apply bg-white text-slate-900;
  }
  .card--brand {
    @apply text-white;
  }
  .bsds
  .card--muted{
    @apply bg-slate-50 text-slate-900;
  }
  .card--outline {
    @apply border border-white/15 bg-white/5 backdrop-blur text-white;
  }
  .card-title {
    font-family: var(--font-serifDisplay); @apply text-xl sm:text-2xl mb-2;
  }
  .card-subtitle {
    font-family: var(--font-inter); @apply text-sm text-slate-500 mb-3;
  }
  .card-body {
    font-family: var(--font-inter); @apply text-sm sm:text-base leading-relaxed;
  }
} 

